{% extends 'dashboard/dashboard-base.html' %} {% block page_content_wrapper %}

<div id="bot_details_add_source" class="mb-5">
  <div class="col-lg-12">
    <div class="card card-block card-stretch card-height">
      <div class="card-body">
          <h4 class="mb-2">{{bot.name}}</h4>
          <p class="text-muted text-small">ID: {{bot._id}}</p>
          <p class="text-muted text-small">Bot URL: <a href="{{chat_url}}?bot_id={{bot._id}}" target="_blank">{{chat_url}}?bot_id={{bot._id}}</a></p>
          <p class="mb-0">{{bot.description}}</p>
          <input type="hidden" ref="botId"  value="{{ bot._id }}"/>
          <input ref="csrfToken" value="{{ csrf_token() }}" type="hidden">

      </div>
    </div>
  </div>
  {% if bot.sources | length > 0 %}
  <div class="container mt-3">
    <h4>Sources</h4>
    <div class="row mt-1">
    <!-- URL Source -->
      {% for source in bot.sources %}
        <div class="col-md-4">
            <div class="card p-3" style="height: 100px !important;">
                <div class="details">
                    <h6 class="card-title">{{source.sourcetype}}</h5>
                    <!-- <p>TEST</p> -->
                    <p style="font-size: 10px;" >{{source.url|truncate(50)}}</p>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="col-lg-8 mx-auto text-center mt-3" v-if="addSource == false">
    <i class="ri-bill-fill font-size-40" ></i><br/>
    <strong>Add Source</strong>
    <p class="mb-0">Add source content to {{bot.name}} that you want your bot to be able to answer questions about. Don't index the same content multiple times</p>

    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary mt-2" @click="openSourceBlock">
        <i class="ri-bill-fill"></i>Add Source</button>
    </div>
  </div>

  <!-- BEGIN SOURCE TYPE -->
  <div class="container card mt-5 mb-5" v-if="addSource">
       <p class="text-center mt-2">Add any content sources you want your bot to be able to answer questions about. You can always add more later on.</p>
       <div class="row mt-1" v-if="SourceTypeSelected == false">
           <!-- URL Source -->
           <div class="col-md-4">
               <div class="card card-block" @click="urlSource = true; SourceTypeSelected = true" style="height: 170px !important; cursor: pointer;" >
                   <div class="card-body">
                       <h5 class="card-title">URL</h5>
                       <p class="card-text">Answer from the content from a single webpage</p>
                   </div>
               </div>
           </div>
           <!-- Document Source -->
           <div class="col-md-4">
               <div class="card card-block" @click="documentSource = true; SourceTypeSelected = true" style="height: 170px !important; cursor: pointer;">
                   <div class="card-body">
                       <h5 class="card-title">Document</h5>
                       <p class="card-text">Upload document files containing text (Text, Office, PDF, HTML, MD, EML, ZIP, etc)</p>
                   </div>
               </div>
           </div>
           <!-- Sitemap Source -->
           <div class="col-md-4">
               <div class="card card-block" style="height: 170px !important;">
                   <div class="card-body">
                       <h5 class="card-title">Sitemap</h5>
                       <p class="card-text">Answer from all content on a website referenced by its XML sitemap</p>
                   </div>
               </div>
           </div>
       </div>

      <!-- BEGIN URL SOURCE TYPE -->
      <div class="container mt-1" v-if="addSource && urlSource">
        <div class="card card-block">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">URL</h5>
                  <p class="card-text">Add the URL of a single webpage to learn from. This can be a blog post, a news article, or any other page on the web. We will download the page, parse the content, and add it to this bot.</p>
                </div>
                <div class="col-md-6">
                  <form @submit.prevent="">
                    <div class="mb-3">
                        <label for="sourceUrl" class="form-label">Source URL <span class="text-danger">*</span></label>
                        <input v-model="urlSourceForm.sourceUrl" type="url" class="form-control" required id="sourceUrl" placeholder="https://example.com/page/" required >
                    </div>
                    <div class="mb-3">
                        <label for="sourceTitle" class="form-label">Source title <span class="text-muted">Optional</span></label>
                        <input v-model="urlSourceForm.sourceTitle" type="text" class="form-control" id="sourceTitle" placeholder="Title of source displayed alongside answers">
                    </div>
                    <button type="button" class="btn btn-secondary mr-3" @click="urlSource = false; SourceTypeSelected = false">Cancel</button>
                    <button type="button" class="btn  btn-primary" @click="addNewUrlSource">Add source</button>
                  </form>
                </div>
              </div>    
            </div> 
        </div>
      </div>
      <!-- BEGIN URL SOURCE TYPE -->

      <div class="container mt-1" v-if="addSource && documentSource">
        <div class="card card-block">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">Document</h5>
                  <p class="card-text">Upload a document file containing text to learn from. Some examples are product documentation, slide decks, research papers, employee handbooks, an ebook, or any content you can convert to a text file. We will parse the content, and add it to this bot. Currently we support adding .txt, .docx, .pptx, .md, .html, .pdf, and .eml documents.</p>
                </div>
                <div class="col-md-6">
                  <form>
                    <div class="mb-3">
                        <label for="sourceUrl" class="form-label">Source Title <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="sourceUrl" placeholder="Enter the file name" required>
                    </div>
                    
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                         <!-- <span class="input-group-text">Upload</span> -->
                      </div>
                      <div class="custom-file">
                         <input type="file" class="custom-file-input" id="inputGroupFile01" required>
                         <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                   </div>
                    <button type="button" class="btn btn-secondary mr-3" @click="documentSource = false; SourceTypeSelected = false">Cancel</button>
                    <button type="submit" class="btn  btn-primary">Add source</button>
                </form>
                </div>
              </div>    
            </div> 
        </div>
      </div>
  </div>
  <!-- END SOURCE TYPE -->

</div>

{% endblock page_content_wrapper %}

{% block page_scripts %} 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        message: 'Hello Vue!',
        addSource: false,
        urlSource: false,
        documentSource: false,
        SourceTypeSelected: false,
        urlSourceForm: {
          sourceUrl: '',
          sourceTitle: '',
          botId: '',
          sourcetype: 'URL'
        }
      }
    },
    mounted() {
     this.urlSourceForm.botId = this.$refs.botId.value;
    },
    methods: {
      openSourceBlock() {
        this.addSource = true;
      },
      addNewUrlSource() {
        axios.defaults.headers.post['X-CSRF-Token'] = this.$refs.csrfToken.value;
        axios.post('/manage/bots/add-source', this.urlSourceForm)
          .then(response => {
            console.log(response.data)
            location.reload();
          })
          .catch(error => {
            console.log(error)
          })
        console.log(this.urlSourceForm)
      }
    }
  }).mount('#bot_details_add_source')
</script>

{% endblock page_scripts %}